<div class="flex h-screen w-screen items-stretch">
  <div class="bg-white flex-1 flex flex-col items-center justify-center">
    <h3 class="text-4xl text-black font-bold tracking-wide uppercase text-center mb-12">Welcome back!</h3>
    <form class="flex flex-col items-center gap-4" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <p *ngIf="showWarning" class="px-4 py-2 rounded-xl w-full text-white font-bold text-lg bg-primary">Invalid data!</p>
      <input class="input input--classic w-[20rem] rounded" formControlName="username" type="text" placeholder="Username or email">
      <input class="input input--classic w-[20rem] rounded" formControlName="password" type="password" placeholder="Password">

      <button class="bg-primary px-4 py-2 w-[10rem] text-white rounded uppercase mb-24">Login</button>

      <a class="text-primary text-2xl tracking-wide" [routerLink]="'/sign-up'">You don't have an account, yet?</a>
    </form>
  </div>
  <div class="bg-login-image bg-cover bg-no-repeat flex-1"></div>
</div>
