<app-navigation></app-navigation>
<main class="bg-hero-image bg-cover h-screen">
  <div class="container mx-auto pt-80">
    <h1 class="text-7xl text-white tracking-wide leading-snug font-semibold w-[60rem] mb-12">
      Find <strong class="text-primary">trainer</strong> which suits you and get result of your dream
    </h1>
    <p class="text-white text-2xl w-[40rem] mb-24">
      Your sessions are tracked by your trainers every day to make sure you will reach your goals.
    </p>

    <a class="text-white text-2xl w-[20rem] rounded px-10 py-4 bg-primary" [routerLink]="'/sign-up'">
      Get started
    </a>
  </div>
</main>
