<div class="flex h-screen w-screen items-stretch">
  <div class="bg-white flex-1 flex flex-col items-center justify-center">
    <h3 class="text-4xl text-black font-bold tracking-wide uppercase text-center mb-12">Become a trainer!</h3>
    <form class="flex flex-col items-center gap-4" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <input class="input input--classic w-[20rem] rounded" formControlName='name' type="text" placeholder="name">
      <input class="input input--classic w-[20rem] rounded" formControlName='surname' type="text" placeholder="surname">
      <input class="input input--classic w-[20rem] rounded" formControlName="username" type="text" placeholder="username">
      <input class="input input--classic w-[20rem] rounded" formControlName='email' type="email" placeholder="email">
      <input class="input input--classic w-[20rem] rounded" formControlName='image' type="text" placeholder="ImageUrl">
      <input class="input input--classic w-[20rem] rounded" formControlName='password' type="password" placeholder="Password">
      <input class="input input--classic w-[20rem] rounded" formControlName='location' type="text" placeholder="Location">
      <textarea class="input input--classic w-[20rem] rounded" formControlName='description' placeholder="Something about yourself"></textarea>

      <button class="bg-primary px-4 py-2 w-[20rem] text-white rounded uppercase mb-24">Create account</button>

      <a class="text-primary text-2xl tracking-wide" [routerLink]="'/log-in'">Do you have an account ?</a>
    </form>
  </div>
  <div class="bg-login-image bg-cover bg-no-repeat flex-1"></div>
</div>
